/* Css Reset */

html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form,input, fieldset, legend, img { margin:0; padding:0; }
html,body{width:100%}
fieldset, img { border:none; }
img{display: block;}
ul, ol { list-style:none; }
body{font:14px/1 "微软雅黑";}
a{text-decoration:none; color:#000;}
.layout{width:1200px; margin:0 auto}
.clear:after{
    content:"";
    display:block;
    clear: both;
}
#margin0{
    margin:0;
}
