/* toolbar */
.toolbar {
  height: 30px;
  background: #fafafa;

}

.toolbar_nav {
  width: 1200px;
  margin: 0 auto;
  height: 30px;
  line-height: 30px;
  li {
    float: right;
    a {
      color: #999;
      font-size: 12px;
      &:hover {
        color: #ec1611;
      }
    }
    &:nth-child(3) {
      padding-left: 22px;
      background: url("https://status.tuanimg.com/statics/zhe/common/img/head_cart.png") no-repeat 0 center;
    }
    &:nth-child(7) {
      position: relative;
      z-index: 9999;
      &:hover {
        cursor: pointer;
        box-shadow: 0 0 5px #d4d4d4;
        .toolbar_phone {
          background-color: #fff;
        }
        .dropdown {
          display: block;
        }
      }
    }
  }
  .toolbar_load a {
    color: #ec1611;
  }
}

.toolbar_phone {
  position: relative;
  z-index: 9999;
  background: url("./../../images/phone1.png") no-repeat 40px 7px;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: -1px;
  width: 121px;
  height: 120px;
  padding: 8px;
  background: #fff;
  z-index: 999;
  box-shadow: 0 0 5px #d4d4d4;
  display: none;
  a {
    display: block;
    width: 120px;
    height: 120px;
    background: url("//status.tuanimg.com/statics/zhe/components/toolbar/img/big_bg_img_v3.png") center no-repeat;
  }
}


.toolbar_nav li span {
  font-size: 12px;
  font-weight: bold;
  color: #cf201c;
  padding-left: 4px;
}

.toolbar_nav li b {
  height: 12px;
  width: 1px;
  background: #e5e5e5;
  margin: 0 20px;
  display: inline-block;
  position: relative;
  top: 2px;
}

.toolbar_nav li:nth-child(7) b:nth-child(1) {
  margin-right: 34px;
}

/* header */
.header {
  height: 100px;
  width: 100%;
  background: #fff;
}

.header_l {
  width: 225px;
  height: 55px;
  float: left;
  padding-top: 22px;
}

.header_l a {
  display: block;
  width: 225px;
  height: 55px;
  background: url("//status.tuanimg.com/statics/zhe/common/img/logo_zhe800_new.png") no-repeat 0 0;
}

.search {
  width: 545px;
  height: 35px;
  margin-left: 30px;
  float: left;
  margin-top: 30px;
  border-left: 2px solid #e60044;
  border-top: 3px solid #e60044;
  border-bottom: 3px solid #e60044;
  border-radius: 3px 0 0 3px;
  position: relative;
}

.search_l {
  width: 90px;
  height: 35px;
  float: left;
  color: #fff;
  font-size: 20px;
  line-height: 35px;
  padding-left: 24px;
  background: url("//status.tuanimg.com/statics/zhe/common/img/index-common.png") -34px -34px no-repeat;
}

.search_c {
  float: left;
  width: 430px;
  height: 35px;
}

.search_txt {
  border: none;
  width: 380px;
  height: 24px;
  outline: 0;
  float: left;
  margin-top: 6px;
}

.search_btn {
  width: 48px;
  height: 24px;
  outline: 0;
  cursor: pointer;
  margin-top: 6px;
  border: none;
  float: left;
  background: url("//status.tuanimg.com/statics/zhe/common/img/index-common.png") -34px 0 no-repeat;
}

.search_r {
  width: 15px;
  height: 39px;
  float: left;
  position: absolute;
  top: -2px;
  right: -15px;
  background: url("//status.tuanimg.com/statics/zhe/common/img/index-common.png") 0 -34px no-repeat;
}

.header_r {
  width: 340px;
  height: 40px;
  float: right;
  margin-top: 30px;
}

.header_r img {
  width: 340px;
  height: 40px;
}

/* header_nav */
.header_nav {
  height: 40px;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}

.nav {
  float: left;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: #696969;
  font-size: 16px;
  line-height: 35px;
  width: 130px;
  height: 40px;
  text-align: center;
}
.nav li a.nav_active{
  background:#e60044;
  color:#fff;
}
.nav li:nth-child(1) a {
  width: 150px;
}

.nav li a:hover {
  height: 37px;
  border-bottom: 3px solid #e60044;
  box-shadow: 0 5px 10px #666;
}

.sign {
  margin-top: 5px;
  float: right;
}

.sign a {
  display: block;
  width: 126px;
  height: 34px;
  background-image: url("http://z3.tuanimg.com/imagev2/site/252x68.d881736ade47ab426df86e928a1a2fa1.gif");
  background-size: 100%;
  position: relative;
}

.sign_img {
  width: 500px;
  height: 360px;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 999;
  display: none;
}

.sign_img img {
  width: 500px;
  height: 360px;
}

.sign a:hover .sign_img {
  display: block;
}

/* wrapper */
.wrapper {
  border: 1px solid #e5e5e5;
  border-top: 0;
}

.index_nav {
  width: 138px;
  height: 304px;
  float: left;
  padding: 0 6px;
  background: #fff;
  position:relative;
}

.index_nav li {
  height: 29px;
  border-bottom: 1px solid #e0e0e0;
  color: #333;
  line-height: 29px;
  text-align: center;
}

.index_nav li:hover a {
  color: #f00;
}

.index_nav .last_robbing {
  font-size: 12px;
  position: relative;
  margin-left: 0;
}

.index_nav .scouring {
  font-size: 12px;
  position: relative;
  border: none;
}

.index_nav b {
  position: absolute;
  top: 8px;
  height: 12px;
  width: 1px;
  border-left: 1px solid #333;
}

.index_nav .last_robbing a {
  margin: 0 3px;
}

.index_nav .scouring a {
  margin: 0 10px;
}

.index_nav li a:hover {
  text-decoration: underline;
}

.nav_pop{
  width:370px;
  height:303px;
  position:absolute;
  top:0;
  left:100%;
  padding-left:13px;
  border:1px solid #e5e5e5;
  background:#fff;
  overflow:hidden;
  z-index:1000;
  display:none;
  .nav_pop_left{
    float:left;
    width:197px;
    height:303px;
    .pop_second{
      width:196px;
      overflow:hidden;
      color:#f00;
      h3{
        height:32px;
        line-height:32px;
        text-align:left;
        font-size:14px;
        border-bottom:1px solid #e5e5e5;
        font-weight:normal;
      }
    }
    ul{
      width:197px;
      height:121px;
      float:left;
      overflow:hidden;
      background:#fff;
      padding:0 6px;
      li{
        float:left;
        height:12px;
        margin:10px 14px 6px 0;
        line-height:14px;
        font-size:12px;
        a{
          color:#666;
          white-space:nowrap;
          display:block;
          &:hover{
            color:#f00;
            text-decoration:none;
          }
        }
      }
    }
    #nav_one{
      height:270px;
    }
  }

  .nav_pop_right{
    float:left;
    width:152px;
    height:290px;
    padding:6px 10px 0 11px;
    vertical-align:middle;
    a{
      display:block;
      width:138px;
      height:91px;
      margin-bottom:6px;
      border:1px solid transparent;
      padding:0 6px;
      img{
        width:140px;
        height:93px;
        vertical-align:center;
      }
    }
  }
}

.wrapper_right {
  width: 1050px;
  height: 304px;
  float: left;
}

.banner {
  width: 950px;
  height: 304px;
  position: relative;
  float: left;
}

.imgbox {
  width: 100%;
  height: 100%;
  position: absolute;
  /*overflow:hidden;*/
}

.img_big {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

/*.img_big:nth-child(1){
    z-index:1;
}*/
.banner_img {
  width: 950px;
  height: 304px;
}

.img_top {
  width: 137px;
  height: 137px;
  position: absolute;
  top: 10px;
  right: 10px;
  overflow: hidden;
}

.img_top img {
  width: 137px;
  height: 137px;
}

.img_bottom {
  width: 137px;
  height: 137px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
}

.img_bottom img {
  width: 137px;
  height: 137px;
}

.banner_list {
  position: absolute;
  left: 50%;
  bottom: 20px;
  margin-left: -40px;
  width: 90px;
  height: 15px;
  z-index: 999;

}

.banner_list li {
  height: 12px;
  width: 12px;
  background: #fff;
  border-radius: 50%;
  float: left;
  margin-left: 6px;
}

.banner_list li.active {
  background: #f00;
}

.banner_user {
  width: 98px;
  height: 304px;
  float: left;
  text-align: center;
}

.banner_usert {
  width: 80px;
  height: 82px;
  position: relative;
  top: 10px;
  margin: 0 auto;
}

.banner_user span {
  position: absolute;
  background: url("//status.tuanimg.com/statics/zhe/common/img/index-common.png") no-repeat;
}

.banner_usert span {
  top: 5px;
  left: 20px;
  width: 40px;
  height: 41px;
  background-position: -231px -34px;
}

.banner_userm {
  width: 80px;
  height: 82px;
  position: relative;
  top: 25px;
  margin: 0 auto;
}

.banner_userm span {
  top: 5px;
  left: 20px;
  width: 40px;
  height: 41px;
  background-position: -231px -82px;
}

.banner_userb {
  width: 80px;
  height: 92px;
  position: relative;
  top: 40px;
  margin: 0 auto;
}

.banner_userb span {
  top: 0;
  left: 10px;
  width: 60px;
  height: 60px;
  background: url("//z2.tuanimg.com/imagev2/site/160x160.257ef30a268a72c79e4f0bc49fa6bc2b.80x80.png") no-repeat;
  background-size: 100%;
}

.banner_user p {
  padding-top: 60px;
  color: #ff404c;
}

.banner_userb p {
  padding-top: 70px;
}

/* junav_fix */
.junav_fix{
  height:83px;
  width:100%;
  box-shadow:0 0 5px #646464;
  background:#fff;
  position:fixed;
  top:0;
  left:0;
  z-index:10000;
  overflow:hidden;
  display:none;
  .junav_fix_top{
    height:40px;
    .fix_nav{
      float:left;
      width:780px;
      li{
        float:left;
        a{
          display:block;
          height:40px;
          line-height:40px;
          margin-right:20px;
          color:#666;
          &:hover{
            color:#e60044;
          }
        }
        .tobold{
          font-weight:bold;
          color:#e60044;
        }
      }
    }
    .fix_search{
      width:206px;
      height:30px;
      float:right;
      margin-top:5px;
      form{
        width:210px;
        height:29px;
        .fix_txt{
          width:114px;
          padding-left:10px;
          height:27px;
          border:1px solid #e60044;
          float:left;
          line-height:28px;
          background:#fff;
          color:#999;
          font-size:12px;
        }
        .fix_btn{
          width:82px;
          height:29px;
          float:left;
          border:0;
          cursor: pointer;
          background:url("//status.tuanimg.com/statics/zhe/common/img/index-common.png") -189px 0 no-repeat;
        }
      }

    }
  }
  .junav_fix_bottom{
    height:40px;
    border-top:3px solid #ff404c;
    .areahome{
      width:1200px;
      margin:0 auto;
      li{
        float:left;
        a{
          display:block;
          height:40px;
          line-height:40px;
          margin-right:20px;
          color:#666;
          &:hover{
            color:#e60044;
          }

        }
        .tobold{
          font-weight:bold;
          color:#e60044;
        }
      }
    }

  }
}

/* brand */
.brand {
  padding-top: 34px;
}

.brand_top {
  height: 36px;
  padding-bottom: 3px;
  text-align: left;
  border-bottom: 1px solid #ff404c;
}

.brand_top_l {
  float: left;
  position: relative;
}

.brand_top_l img {
  width: 160px;
  height: 36px;
  position: absolute;
  top: 0;
  left: 0;
}

.brand_top_l i {
  width: 6px;
  height: 6px;
  background: #ff404c;
  border-radius: 50%;
  position: absolute;
  left: 162px;
  top: 12px;
}

.brand_top_l a {
  position: absolute;
  left: 174px;
  width: 180px;
  line-height: 30px;
  color: #666;
}

.brand_top_r {
  float: right;
  padding-top: 11px;
}

.brand_all {
  float: right;
  width: 76px;
  height: 28px;
  text-align: center;
}

.brand_all a {
  display: block;
  width: 76px;
  height: 29px;
  background: #ff404c;
  line-height: 28px;
  color: #fff;
}

.brand_nav {
  float: right;
  width: 368px;
  height: 28px;
}

.brand_nav li {
  float: left;
}

.brand_nav li a {
  display: block;
  width: 46px;
  height: 28px;
  line-height: 28px;
  text-align: center;
}

.brand_nav li a.color {
  color: #ff404c;
}

.brand_nav li a:hover {
  color: #ff404c;
}

.brand_center {
  height: 200px;
  display: flex;
  justify-content: space-between;
}

.brand_center a {
  position: relative;
  width: 392px;
  height: 200px;
}

.brand_center img {
  width: 392px;
  height: 200px;
}

.brand_center span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 392px;
  height: 25px;
  background: rgba(5, 8, 9, .45);
  color: #fff;
  line-height: 25px;
  text-align: center;
  font-size: 12px;
}

.brand_bottom {
  height: 120px;
  margin-top: 12px;
}

.brand_menu {
  width: 120px;
  height: 60px;
  float: left;
}

.brand_menu a {
  display: block;
  width: 120px;
  height: 60px;
  position: relative;
  box-sizing: border-box;
}

.brand_menu a:hover img {
  border-right: 3px solid #D4D4D4;
  border-left: 3px solid #D4D4D4;
}

.brand_menu:nth-child(1) a:hover img, .brand_menu:nth-child(11) a:hover img {
  border-left: 0;
}

.brand_menu:nth-child(10) a:hover img, .brand_menu:nth-child(20) a:hover img {
  border-right: 0;
}

.brand_menu a img {
  width: 120px;
  height: 60px;
  box-sizing: border-box;
}

.brand_menu a i {
  height: 18px;
  position: absolute;
  right: 0;
  top: 22px;
  border-right: 1px solid #eaeaea;
}

/* flashSale */
.flashSale {
  height: 300px;
  margin-top: 32px;
  border-bottom: 1px solid #ccc;
}

.flashSale_top {
  height: 35px;
  border-bottom: 1px solid #ff404c;
}

.flashSale_top_l {
  width: 306px;
  height: 30px;
  float: left;
  position: relative;
}

.flashSale_top_l img {
  width: 150px;
  height: 32px;
  position: absolute;
  top: -2px;
  left: 0;
}

.flashSale_top_l i {
  width: 6px;
  height: 6px;
  background: #ff404c;
  border-radius: 50%;
  position: absolute;
  left: 170px;
  top: 12px;
}

.flashSale_top_l a {
  position: absolute;
  left: 180px;
  width: 180px;
  line-height: 30px;
  color: #666;
}

.flashSale_top_r {
  width: 592px;
  height: 28px;
  margin-top: 7px;
  float: right;
}

.flashSale_top_r li {
  float: left;
  text-align: center;
}

.flashSale_top_r li a {
  display: block;
  width: 74px;
  height: 28px;
  line-height: 28px;
  color: #000;
  font-size: 12px;
  &.active{
    background:#ff404c;
    color: #fff;
  }
}

.flashSale_top_r li a:hover {
  color: #fff;
  background: #ff404c;
}

.flashSale_bottom {
  height: 250px;
  overflow:hidden;
  position: relative;
}

.flashSale_list {
  height: 250px;
  width: 19894px;
  position: absolute;
  left: 0;
}

.flashSale_shop {
  float: left;
  margin-right: 18px;
}

.flashSale_shop a {
  display: block;
  width: 185px;
  height: 250px;
  background: #fff;
}

.dealCon {
  width: 185px;
  height: 185px;
  position: relative;
  overflow: hidden;
}

.dealCon img {
  width: 185px;
  height: 185px;
}

.dealCon .stock {
  width: 185px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  transform: translateY(6px);
  background: rgba(0, 0, 0, .4);
  transition: all 0.2s;
}

.flashSale_shop a:hover .stock {
  transform: translateY(-20px);
}

.flashSale_shop span {
  display: block;
  padding-left: 10px;
  height: 30px;
  line-height: 30px;
  color: #ec1611;
}

.flashSale_shop span b {
  font-size: 16px;
  margin-left: 4px;
}

.flashSale_shop p {
  padding: 4px 10px 0;
  height: 18px;
  color: #666;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
}

.flashSale_left {
  width: 17px;
  height: 43px;
  background: url("//z6.tuanimg.com/v3/src/img/common/big_bg_img_v3.png");
  background-position: -218px -440px;
  position: absolute;
  left: 0;
  top: 74px;
  z-index: 1;
}

.flashSale_right {
  width: 17px;
  height: 43px;
  background: url("//z6.tuanimg.com/v3/src/img/common/big_bg_img_v3.png");
  background-position: -307px -440px;
  position: absolute;
  top: 74px;
  right: 0;
  z-index: 1;
  cursor: pointer;
}

/* hot */
.hot {
  height: 200px;
  margin-top: 34px;
}

.hot_top {
  height: 34px;
  padding-bottom: 6px;
  border-bottom: 1px solid #ff404c;
  position: relative;
}

.hot_top img {
  width: 154px;
  height: 36px;
  position: absolute;
  top: 0;
  left: 0;
}

.hot_top i {
  width: 6px;
  height: 6px;
  background: #ff404c;
  border-radius: 50%;
  position: absolute;
  left: 170px;
  top: 16px;
}

.hot_top p {
  position: absolute;
  left: 180px;
  width: 200px;
  line-height: 40px;
  font-size: 12px;
}

.hot_top p a {
  color: #666;
}

.hot_top p a:hover {
  color: #ff404c;
}

.hot_bottom ul{
  height: 159px;
  display: flex;
  justify-content: space-between;
  .pic, .pic img {
    width: 232px;
    height: 159px;
  }
  .pic a {
    display: block;
    width: 232px;
    height: 159px;
  }
}


/* index_deal */
.index_deal {
  height: 28279px;
}

.index_deal_top {
  margin: 30px auto 0;
  height: 42px;
  width: 1200px;
  border-bottom: 1px solid #ff404c;
}

.tonew {
  width: 300px;
  height: 42px;
  float: left;
  position: relative;
}

.tonew img {
  width: 170px;
  height: 34px;
  position: absolute;
  top: 0;
  left: 0;
}

.tonew i {
  width: 6px;
  height: 6px;
  background: #ff404c;
  border-radius: 50%;
  position: absolute;
  left: 185px;
  top: 16px;
}

.tonew span {
  position: absolute;
  left: 195px;
  width: 70px;
  line-height: 36px;
  color: #666;
}

.index_deal_nav {
  float: right;
  width: 286px;
  height: 27px;
  margin-top: 15px;
  font-size: 12px;
  line-height: 27px;
}

.nav_right {
  float: right;
}

.nav_left {
  float: left;
}

.index_deal_nav a {
  padding: 0 7px;
  color: #666;
}

.nav_left a:nth-child(5) {
  color: #ff404c;
}

.index_deal_nav a:hover {
  color: #ff404c;
  text-decoration: underline;
}

.index_deal_nav span {
  padding: 0 9px;
  color: #ff404c;
}

.nav_left b {
  color: #ccc;
  font-weight: 400;
  width: 5px;
  font-size: 12px;
}

.index_deal_list {
  height: 28237px;
  background: #f2f2f2;
}

.list_main {
  width: 1222px;
  margin: 0 auto;
}

.list_shop {
  width: 283px;
  height: 345px;
  margin: 0 11px 30px;
  background: #fff;
  float: left;
  &:hover{
    box-shadow:0 10px 10px #ccc;
  }
}

.list_shop > a {
  display: block;
  width: 283px;
  height: 283px;
}

.list_shop > a img {
  width: 283px;
  height: 283px;
}

.shop_tit, .coupon_collect {
  width: 263px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}

.shop_tit a {
  float: left;
  width: 195px;
  font-size: 12px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.shop_tit a:hover {
  text-decoration: underline;
}

.shop_tit span {
  float: right;
  color: #999;
  font-size: 12px;
}

.coupon_collect span {
  font-size: 16px;
  color: #ec1611;
  float: left;
  width: 194px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.coupon_collect .list_price{
  font-size:12px;
  color:#999;
  text-decoration:line-through;
}
.coupon_collect a {
  float: right;
  width: 50px;
  height: 20px;
  padding-left: 18px;
  line-height: 16px;
  margin-top: 8px;
  background: url("//z6.tuanimg.com/v3/src/img/common/big_bg_img_v3.png") no-repeat -493px -64px;
  font-size: 12px;
  color: #999;
}

.coupon_collect a:hover {
  color: #ec1611;
}
.pages{
  margin-bottom:22px;
  height:50px;
  padding:20px 0;
  position:relative;
  .list_page{
    text-align:center;
    vertical-align:middle;
    width:400px;
    height:50px;
  }
}


.index_bottom{
  height:260px;
  background: #f2f2f2;
}

/* sidebar */
.sidebar{
  width:34px;
  position:fixed;
  bottom:0;
  right:0;
  background:#000;
  height:100%;
  z-index:1000001;
  font-size:12px;
  color:#fff;
}

 /* about */
.about{
    height:300px;
    border-top:3px solid #ec1611;
    background:#fff;
}
.area{
  height:270px;
  padding-top:28px;
  li{
    float:left;
    height:270px;
    span{
      display:block;
      width:80px;
      height:80px;
      margin-bottom:14px;
    }
    .aboutus{
      background:url("//status.tuanimg.com/statics/zhe/common/img/foot_icon.png") no-repeat;
    }
    .shopguide{
      background:url("//status.tuanimg.com/statics/zhe/common/img/foot_icon.png") -95px 0 no-repeat;
    }
    .busscom{
      background:url("//status.tuanimg.com/statics/zhe/common/img/foot_icon.png") 0 -95px no-repeat;
    }
    .usersafe{
      background:url("//status.tuanimg.com/statics/zhe/common/img/foot_icon.png") -190px 0 no-repeat;
    }
    .nexttothere{
      background:url("//status.tuanimg.com/statics/zhe/common/img/foot_icon.png") -95px -95px no-repeat;
    }
    h3{
      font-size:16px;
      font-weight:normal;
      color:#333;
      height:30px;
      line-height:30px;
    }
    a{
      display:block;
      width:85px;
      height:24px;
      color:#999;
      line-height:24px;
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;
      font-size:12px;
      &:hover{
        text-decoration: underline;
        color: #ec1611;
      }
    }
  }
  .w1{
    width:140px;
  }
  .w2{
    width:140px;
    padding-left:60px;
  }
  .w3{
    width:180px;
    padding-left:60px;
    h4{
      font-weight:normal;
      height:24px;
      line-height:24px;
      font-size:12px;
      color:#999;
      a{
        display:inline;
        em{
          color:#ec1611;
          font-style:normal;
        }
      }
      .w3_txt{
        height:21px;
        line-height:21px;
        width:98px;
        padding-left:5px;
        color:#ccc;
        border:1px solid #eaeaea;
        vertical-align:middle;
        font-size:12px;
      }
      .w3_btn{
        height:25px;
        line-height:25px;
        width:42px;
        color:#999;
        border:1px solid #eaeaea;
        border-left:0;
        vertical-align:middle;
        background:#fafafa;
        font-size:12px;
        padding:1px 6px;
      }
    }
  }
  .w4{
    width:170px;
    .bottom_qrcode_wrapper{
      width:104px;
      height:220px;
      margin:0 auto;
      background:url("//status.tuanimg.com/statics/zhe/common/img/footer_code.png") 0 0 no-repeat;
    }
    span{
      width:170px;
      height:30px;
      line-height:30px;
      font-size:14px;
      colorz:#666;
      text-align:center;
    }
  }
}


/* footer */
.footer{
  padding-top:20px;
  height:160px;
  text-align:center;
  letter-spacing: 1px;
  font-size:12px;
  color:#999;
  line-height:30px;
  a{
    letter-spacing: 1px;
    font-size:12px;
    color:#999;
    line-height:30px;
    &:hover{
      text-decoration:underline;
    }
  }
  .link{
    height:20px;
    width:750px;
    margin:0 auto;
    span{
      float:left;
      height:20px;
      line-height:20px;
    }
    .links{
      float:left;
      width:620px;
      height:20px;
      line-height:20px;
      position:relative;
      overflow:hidden;
      .scoll_link{
        height:20px;
        line-height:20px;
        position:absolute;
        top:0;
        left:0;
        li{
          width:100%;
          height:20px;
          overflow:hidden;
          line-height:20px;
          a{
            margin-right:10px;
            float:left;
            line-height:20px;
          }
        }
      }
    }
    .link_more{
      float:right;
      width:52px;
      line-height:20px;
      &:hover{
        color:#ec1611;
      }
    }
  }
  .footer_center{
    height:28px;
    width:330px;
    margin:0 auto;
    margin-top:7px;
    a{
      &:nth-child(1){
        width:30px;
        height:28px;
        float:left;
        margin-right:12px;
        background:url("//status.tuanimg.com/statics/zhe/subject/img/logo.jpg") no-repeat;
        background-size:30px 28px;
      }
      &:nth-child(2){
        width:70px;
        height:26px;
        float:left;
        margin-right:12px;
        background:url("//status.tuanimg.com/statics/zhe/common/img/cert.png");
        background-size:contain;
      }
      &:nth-child(3){
        width:28px;
        height:28px;
        float:left;
        background:url("//status.tuanimg.com/statics/zhe/common/img/gsrz-icon.jpg");
        background-size:contain;
      }
    }
  }
}

