
/* wrapper */
.wrapper {
  border: 1px solid #e5e5e5;
  border-top: 0;
}

.index_nav {
  width: 138px;
  height: 304px;
  float: left;
  padding: 0 6px;
  background: #fff;
  position:relative;
}

.index_nav li {
  height: 29px;
  border-bottom: 1px solid #e0e0e0;
  color: #333;
  line-height: 29px;
  text-align: center;
}

.index_nav li:hover a {
  color: #f00;
}

.index_nav .last_robbing {
  font-size: 12px;
  position: relative;
  margin-left: 0;
}

.index_nav .scouring {
  font-size: 12px;
  position: relative;
  border: none;
}

.index_nav b {
  position: absolute;
  top: 8px;
  height: 12px;
  width: 1px;
  border-left: 1px solid #333;
}

.index_nav .last_robbing a {
  margin: 0 3px;
}

.index_nav .scouring a {
  margin: 0 10px;
}

.index_nav li a:hover {
  text-decoration: underline;
}

.nav_pop{
  width:370px;
  height:303px;
  position:absolute;
  top:0;
  left:100%;
  padding-left:13px;
  border:1px solid #e5e5e5;
  background:#fff;
  overflow:hidden;
  z-index:1000;
  display:none;
  .nav_pop_left{
    float:left;
    width:197px;
    height:303px;
    .pop_second{
      width:196px;
      overflow:hidden;
      color:#f00;
      h3{
        height:32px;
        line-height:32px;
        text-align:left;
        font-size:14px;
        border-bottom:1px solid #e5e5e5;
        font-weight:normal;
      }
    }
    ul{
      width:197px;
      height:121px;
      float:left;
      overflow:hidden;
      background:#fff;
      padding:0 6px;
      li{
        float:left;
        height:12px;
        margin:10px 14px 6px 0;
        line-height:14px;
        font-size:12px;
        a{
          color:#666;
          white-space:nowrap;
          display:block;
          &:hover{
            color:#f00;
            text-decoration:none;
          }
        }
      }
    }
    #nav_one{
      height:270px;
    }
  }

  .nav_pop_right{
    float:left;
    width:152px;
    height:290px;
    padding:6px 10px 0 11px;
    vertical-align:middle;
    a{
      display:block;
      width:138px;
      height:91px;
      margin-bottom:6px;
      border:1px solid transparent;
      padding:0 6px;
      img{
        width:140px;
        height:93px;
        vertical-align:center;
      }
    }
  }
}

.wrapper_right {
  width: 1050px;
  height: 304px;
  float: left;
}

.banner {
  width: 950px;
  height: 304px;
  position: relative;
  float: left;
}

.imgbox {
  width: 100%;
  height: 100%;
  position: absolute;
  /*overflow:hidden;*/
}

.img_big {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

/*.img_big:nth-child(1){
    z-index:1;
}*/
.banner_img {
  width: 950px;
  height: 304px;
}

.img_top {
  width: 137px;
  height: 137px;
  position: absolute;
  top: 10px;
  right: 10px;
  overflow: hidden;
}

.img_top img {
  width: 137px;
  height: 137px;
}

.img_bottom {
  width: 137px;
  height: 137px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
}

.img_bottom img {
  width: 137px;
  height: 137px;
}

.banner_list {
  position: absolute;
  left: 50%;
  bottom: 20px;
  margin-left: -40px;
  width: 90px;
  height: 15px;
  z-index: 999;

}

.banner_list li {
  height: 12px;
  width: 12px;
  background: #fff;
  border-radius: 50%;
  float: left;
  margin-left: 6px;
}

.banner_list li.active {
  background: #f00;
}

.banner_user {
  width: 98px;
  height: 304px;
  float: left;
  text-align: center;
}

.banner_usert {
  width: 80px;
  height: 82px;
  position: relative;
  top: 10px;
  margin: 0 auto;
}

.banner_user span {
  position: absolute;
  background: url("//status.tuanimg.com/statics/zhe/common/img/index-common.png") no-repeat;
}

.banner_usert span {
  top: 5px;
  left: 20px;
  width: 40px;
  height: 41px;
  background-position: -231px -34px;
}

.banner_userm {
  width: 80px;
  height: 82px;
  position: relative;
  top: 25px;
  margin: 0 auto;
}

.banner_userm span {
  top: 5px;
  left: 20px;
  width: 40px;
  height: 41px;
  background-position: -231px -82px;
}

.banner_userb {
  width: 80px;
  height: 92px;
  position: relative;
  top: 40px;
  margin: 0 auto;
}

.banner_userb span {
  top: 0;
  left: 10px;
  width: 60px;
  height: 60px;
  background: url("//z2.tuanimg.com/imagev2/site/160x160.257ef30a268a72c79e4f0bc49fa6bc2b.80x80.png") no-repeat;
  background-size: 100%;
}

.banner_user p {
  padding-top: 60px;
  color: #ff404c;
}

.banner_userb p {
  padding-top: 70px;
}



/* brand */
.brand {
  padding-top: 34px;
}

.brand_top {
  height: 36px;
  padding-bottom: 3px;
  text-align: left;
  border-bottom: 1px solid #ff404c;
}

.brand_top_l {
  float: left;
  position: relative;
}

.brand_top_l img {
  width: 160px;
  height: 36px;
  position: absolute;
  top: 0;
  left: 0;
}

.brand_top_l i {
  width: 6px;
  height: 6px;
  background: #ff404c;
  border-radius: 50%;
  position: absolute;
  left: 162px;
  top: 12px;
}

.brand_top_l a {
  position: absolute;
  left: 174px;
  width: 180px;
  line-height: 30px;
  color: #666;
}

.brand_top_r {
  float: right;
  padding-top: 11px;
}

.brand_all {
  float: right;
  width: 76px;
  height: 28px;
  text-align: center;
}

.brand_all a {
  display: block;
  width: 76px;
  height: 29px;
  background: #ff404c;
  line-height: 28px;
  color: #fff;
}

.brand_nav {
  float: right;
  width: 368px;
  height: 28px;
}

.brand_nav li {
  float: left;
}

.brand_nav li a {
  display: block;
  width: 46px;
  height: 28px;
  line-height: 28px;
  text-align: center;
}

.brand_nav li a.color {
  color: #ff404c;
}

.brand_nav li a:hover {
  color: #ff404c;
}

.brand_center {
  height: 200px;
  display: flex;
  justify-content: space-between;
  overflow:hidden;
}

.brand_center a {
  position: relative;
  width: 392px;
  height: 200px;
  transition:all 0.5s;
}
.brand_center a:hover{
  box-shadow:0 5px 10px #888;
}

.brand_center img {
  width: 392px;
  height: 200px;
}

.brand_center span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 392px;
  height: 25px;
  background: rgba(5, 8, 9, .45);
  color: #fff;
  line-height: 25px;
  text-align: center;
  font-size: 12px;
}

.brand_bottom {
  height: 120px;
  margin-top: 12px;
}

.brand_menu {
  width: 120px;
  height: 60px;
  float: left;
}

.brand_menu a {
  display: block;
  width: 120px;
  height: 60px;
  position: relative;
  box-sizing: border-box;
}

.brand_menu a:hover img {
  border-right: 3px solid #D4D4D4;
  border-left: 3px solid #D4D4D4;
}

.brand_menu:nth-child(1) a:hover img, .brand_menu:nth-child(11) a:hover img {
  border-left: 0;
}

.brand_menu:nth-child(10) a:hover img, .brand_menu:nth-child(20) a:hover img {
  border-right: 0;
}

.brand_menu a img {
  width: 120px;
  height: 60px;
  box-sizing: border-box;
}

.brand_menu a i {
  height: 18px;
  position: absolute;
  right: 0;
  top: 22px;
  border-right: 1px solid #eaeaea;
}

/* flashSale */
.flashSale {
  height: 300px;
  margin-top: 32px;
  border-bottom: 1px solid #ccc;
}

.flashSale_top {
  height: 35px;
  border-bottom: 1px solid #ff404c;
}

.flashSale_top_l {
  width: 306px;
  height: 30px;
  float: left;
  position: relative;
}

.flashSale_top_l img {
  width: 150px;
  height: 32px;
  position: absolute;
  top: -2px;
  left: 0;
}

.flashSale_top_l i {
  width: 6px;
  height: 6px;
  background: #ff404c;
  border-radius: 50%;
  position: absolute;
  left: 170px;
  top: 12px;
}

.flashSale_top_l a {
  position: absolute;
  left: 180px;
  width: 180px;
  line-height: 30px;
  color: #666;
}

.flashSale_top_r {
  width: 592px;
  height: 28px;
  margin-top: 7px;
  float: right;
}

.flashSale_top_r li {
  float: left;
  text-align: center;
}

.flashSale_top_r li a {
  display: block;
  width: 74px;
  height: 28px;
  line-height: 28px;
  color: #000;
  font-size: 12px;
  &.active{
    background:#ff404c;
    color: #fff;
  }
}

.flashSale_top_r li a:hover {
  color: #fff;
  background: #ff404c;
}

.flashSale_bottom {
  height: 250px;
  overflow:hidden;
  position: relative;
}

.flashSale_list {
  height: 250px;
  position: absolute;
  left: 0;
  overflow:hidden;
}

.flashSale_shop {
  float: left;
  margin-right: 18px;
  transition:all 0.5s;
}
.flashSale_shop:nth-child(6n){
  margin:0;
}
.flashSale_shop:hover{
  box-shadow:0 0 15px #888;
}

.flashSale_shop a {
  display: block;
  width: 185px;
  height: 250px;
  background: #fff;
}

.dealCon {
  width: 185px;
  height: 185px;
  position: relative;
  overflow: hidden;
}

.dealCon img {
  width: 185px;
  height: 185px;
}

.dealCon .stock {
  width: 185px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  transform: translateY(6px);
  background: rgba(0, 0, 0, .4);
  transition: all 0.2s;
}

.flashSale_shop a:hover .stock {
  transform: translateY(-20px);
}

.flashSale_shop span {
  display: block;
  padding-left: 10px;
  height: 30px;
  line-height: 30px;
  color: #ec1611;
}

.flashSale_shop span b {
  font-size: 16px;
  margin-left: 4px;
}

.flashSale_shop p {
  padding: 4px 10px 0;
  height: 18px;
  color: #666;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
}

.flashSale_left {
  width: 17px;
  height: 43px;
  background: url("//z6.tuanimg.com/v3/src/img/common/big_bg_img_v3.png");
  background-position: -218px -440px;
  position: absolute;
  left: 0;
  top: 74px;
  z-index: 1;
}

.flashSale_right {
  width: 17px;
  height: 43px;
  background: url("//z6.tuanimg.com/v3/src/img/common/big_bg_img_v3.png");
  background-position: -307px -440px;
  position: absolute;
  top: 74px;
  right: 0;
  z-index: 1;
  cursor: pointer;
}


/* index_deal */
.index_deal {
  overflow:hidden;
}

.index_deal_top {
  margin: 30px auto 0;
  height: 42px;
  width: 1200px;
  border-bottom: 1px solid #ff404c;
}

.tonew {
  width: 300px;
  height: 42px;
  float: left;
  position: relative;
}

.tonew img {
  width: 170px;
  height: 34px;
  position: absolute;
  top: 0;
  left: 0;
}

.tonew i {
  width: 6px;
  height: 6px;
  background: #ff404c;
  border-radius: 50%;
  position: absolute;
  left: 185px;
  top: 16px;
}

.tonew span {
  position: absolute;
  left: 195px;
  width: 70px;
  line-height: 36px;
  color: #666;
}

.index_deal_nav {
  float: right;
  width: 286px;
  height: 27px;
  margin-top: 15px;
  font-size: 12px;
  line-height: 27px;
}

.nav_right {
  float: right;
}

.nav_left {
  float: left;
}

.index_deal_nav a {
  padding: 0 7px;
  color: #666;
}

.nav_left a:nth-child(5) {
  color: #ff404c;
}

.index_deal_nav a:hover {
  color: #ff404c;
  text-decoration: underline;
}

.index_deal_nav span {
  padding: 0 9px;
  color: #ff404c;
}

.nav_left b {
  color: #ccc;
  font-weight: 400;
  width: 5px;
  font-size: 12px;
}

.index_deal_list {
  overflow:hidden;
  background: #f2f2f2;
}

.list_main {
  width: 1222px;
  margin: 0 auto;
}


.pages{
  margin-bottom:22px;
  height:50px;
  padding:20px 0;
  position:relative;
  .list_page{
    text-align:center;
    vertical-align:middle;
    width:400px;
    height:50px;
  }
}





